/* Step1.module.css */
.ionContent {
    padding: 20px;
  }
  
  .content {
    margin-top: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #3949ab;
    margin-bottom: 20px;
  }
  
  ion-radio-group {
    margin-top: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-segment {
    margin: 20px 0;
  }
  
  ion-segment-button {
    font-size: 1em;
  }
  