/* Container */
.container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Header Section */
  .header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
  }
  .sub-header {
    background-color: #ffa500;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #555;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  /* Content Section */
  .content {
    padding: 15px 0;
    flex-grow: 1;
  }
  
  .checkbox-group {
    margin-top: 10px;
  }
  
  .option-item {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .option-item input {
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    vertical-align: middle;
  }
  
  /* Footer Section */
  .sub-footer {
    padding: 10px;
    background-color: #ffa500;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sub-footer .proceed-button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sub-footer .proceed-button:hover {
    background-color: #e69500;
  }
  
  .sub-footer .proceed-button:active {
    background-color: #cc8400;
  }
  